* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
a,a:hover {
  color: #000;
}
p {
  color: rgb(108 135 153);
  margin-bottom: 1rem;
}
h2{
  font-weight: 700;
}
/* header section */

header {
  padding: 10px;
}
header img {
  width: 150px;
}

/* hero section */

.hero_section h1{
    font-weight: bold;
}
.hero_section .release{
    border:1px solid #fdc754;
    width:fit-content;
    padding:5px 15px;
    position: relative;
    color: #796f76;
}
.hero_section .release i{
    background-color:#c2e676;
    padding: 5px;border-radius: 100px;
}
.hero_section .available{
    background-color: #f7c533;
    border-radius: 5px;
    font-weight: 700;
    color: #000;
    border:1px solid #000;
    text-transform: uppercase;
    font-size: 12.5px;
    display: inline-block;
    transform: rotate(-20deg);
    margin: 0 5px;
}



/* form content */
.trial_form{
    box-shadow:4px 8px 20px 8px #ddd;
    border-radius: 10px;
    padding: 20px;
}
.trial_form select{
    width: 100%;
}
.trial_form input[type="text"],.trial_form input[type="email"],.trial_form input[type="phone"],.trial_form select{
    background:transparent;
    border:1px solid #d7d7d7;
    outline:none;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.trial_form a{
    color:#50a0fe;
}

.trial_button,.trial_button:hover {
    background: #a8518a;
    padding: 8px 40px;
    border-radius:20px;
    border:none;
    color:#fff;
    text-decoration: none;
}
/* scroll down */

.scroll_down i{
    padding: 12px 13px;
    border-radius: 100px;
    background:#ff8fd8;
    cursor:pointer;
    color:#fff;
}

/* service section */
.service_content{
  padding: 10px 20px;
}

.service_content .fixed_img_height{
  height: 65px;
}
.service_content img{
  width: 50px;
  /* margin-bottom: 10px; */
}
.service_bottom_text{
  background:#ae6d98;
  border-radius: 5px;
}
.service_bottom_text p{
  color:#fff;
}
/* feature Video */

.feature_video .video{
  max-width: 500px;
  margin: 0 auto;
  height:250px
}
.feature_video .video iframe{
  width: 100%;
  height: 100%;
}

/* footer */
.footer a{
  color:rgb(79 175 254);
}
.footer_text{
  margin-bottom: 15px;
}

/* footer */


.footer-area {
  position: relative;
  z-index: 1;
  padding-top: 80px;
}
.footer-area .map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  bottom: 0;
  opacity: 0.7;
}
.footer-area .single-footer-widget h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.footer-area .single-footer-widget .logo {
  margin-bottom: 20px;
}
.footer-area .single-footer-widget ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-area .single-footer-widget ul.list li {
  margin-bottom: 10px;
}
.footer-area .single-footer-widget ul.list li a {
  color: #6084a4;
  text-decoration: none;
}
.footer-area .single-footer-widget ul.list li:last-child {
  margin-bottom: 0;
}

.single-footer-widget ul.social-links li {
  display: inline-block;
  margin-right: 5px;
}
.single-footer-widget ul.social-links li a {
  width: 32px;
  text-align: center;
  line-height: 35px;
  height: 32px;
  border: 1px solid #a8518a;
  border-radius: 50%;
  color: #a8518a;
  display: block;
}
.single-footer-widget ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.single-footer-widget ul.footer-contact-info {
  margin-bottom: 20px;
}
.single-footer-widget ul.footer-contact-info li {
  position: relative;
  color: #6084a4;
  margin-bottom: 8px;
}
.copyright-area {
  margin-top: 80px;
  padding-top: 25px;
  padding-bottom: 35px;
  border-top: 1px solid #d8ebfd;
  text-align: center;
}
.logo{
  width:150px
}